.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    display: flex; /* Added */
    justify-content: center; /* Added */
    align-items: center; /* Added */
  }
  
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .form-group {
    width: 100%;
  }
  
  .form-control, .custom-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .btn {
    background-color: #0a2239; /* Dark blue */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .btn:hover {
    background-color: #f094c2; /* Sandy brown */
  }